* {
    box-shadow: none !important;
    text-shadow: none !important;
}

.error {
    border-color: #f00 !important;
    color: #f00 !important;
}

.error small.ui-bar {
    background-color: #ffeeff;
}